/* Inizio prendefinito */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*  Fine prendefinito */

/* Inizio header + colore pagina */
body{
    background-color: whitesmoke;
}

.rettangolo{
    border-color: 1px white; 
    width: 100000px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

header, h1, img {
    display: inline-block;
    font-family: 'Roboto', sans-serif; 
    font-weight: 700;
    vertical-align: middle;  /* chiedere */
    background-color: white;
}
/* Fine header + colore della pagina */

/* Inizio menù */
main{
    max-width: 1200px;
    margin: 0 auto;
}

.centrale{
    display: inline-block;
    background-color: white;
    width: 1200px; /* chiedere se va inserito o dovrebbe adattarsi alla percenutale del main */
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-color: 2px solid white;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pulsante1{
    display: inline-block;
    background-color: cornflowerblue;
    color: white;
    border-radius: 10%;
    border-color: white;
    width: 100px;
    height: 40px;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400; 
  }

.pulsante2{
    display: inline-block;
    background-color: white;
    color: grey;
    border-radius: 10%;
    border-color: white;
    width: 100px;
    height: 40px;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400; 
  }
/* Fine menù */

/* Inizio quadrato */
.quadrato{
    display: inline-block;
    background-color: white;
    width: 1200px; 
    height: 600px;
    border-bottom-right-radius: 10px ;
    border-bottom-left-radius: 10px;
    border-top-color: 2px solid white;
    margin-top: 2px;
    padding-left: 60px;
    padding-top: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* Fine quadrato */

/* inizio cerchio & rettangoli parole chiave */
.cerchio_verde {
    display: inline-block;
    border: 1px solid green;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: green;
}

.cerchio_rosso{
    display: inline-block;
    border: 1px solid red;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: red;
}

.Editoriale{
    display: inline-block;
    background-color:cornflowerblue;
    border: 2px solid white ;
    border-radius: 20px;
    padding: 8px;
    color: white;
}

.Goals{
    display: inline-block;
    background-color:violet;
    border: 2px solid white ;
    border-radius: 20px;
    padding: 8px;
    color: white;
}

.Recruting{
    display: inline-block;
    background-color:green;
    border: 2px solid white ;
    border-radius: 20px;
    padding: 8px;
    color: white;
}

.Mobile{
    display: inline-block;
    background-color:orange ;
    border: 2px solid white ;
    border-radius: 20px;
    padding: 8px;
    color: white;
}

.Website{
    display: inline-block;
    background-color:rosybrown;
    border: 2px solid white ;
    border-radius: 20px;
    padding: 8px;
    color: white;
}

.Sales{
    display: inline-block;
    background-color:greenyellow;
    border: 2px solid white ;
    border-radius: 20px;
    padding: 8px;
    color: white;
}

.distanza{
    margin-top: 10px;
}

.titoli {
    margin-top: 30px;
}

h2{
    font-family: 'Roboto', sans-serif; 
    font-weight: 500; 
}

p{
    display: inline-block;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400; 
    color: black;
}
/* Fine cerchio & rettangoli parole chiave */